<div class="bgComponent">
    <div class="form">
      <mat-card class="card">
        <mat-card-title>Register user</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <input
                
                matInput
                placeholder="Name and lastname"
                required
              />
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Escoge un rol</mat-label>
              <mat-select  >
                <mat-option *ngFor="let role of roleData" value= {{role.name}}
              >{{
                  role.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button  class="button" mat-raised-button>
            Register
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>