<div class="bgComponent">
    <div class="form" >
      <mat-card class="card">
        <mat-card-title>UpdateRole</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <mat-label>Escoge un rol</mat-label>
              <mat-select  >
                <mat-option *ngFor="let role of roleData" value= {{role.name}}
              >{{
                  role.name
                }}
                
            </mat-option>
              </mat-select>
            </mat-form-field>
            <p>
                <mat-form-field appearance="fill">
                  <mat-label>{{this.roleDescription}}</mat-label>
                  <input matInput placeholder="">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>{{this.roleDescription}}</mat-hint>
                </mat-form-field>
              </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button  class="button" mat-raised-button>
            Register
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>